@model AutomotiveSols.BLL.ViewModels.IndexViewModel
<!-- Button trigger modal -->

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Post
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
            Post A Car
        </button>
    </div>
</div>

<!----------------------------------------------modal1-->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Proceed To Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="Customer" asp-controller="Home" asp-action="Validate">

                    <h3 style="position:relative; ">
                        Allow Us To Sale For You
                        @Html.CheckBoxFor(m => m.DecisionVM.SaleUs)
                    </h3>
                    <br />
                    <button type="submit" value="Continue" class="btn btn-success" id="SaleUsBtn">Continue </button>

                    <br />
                    <h3>
                        I will Manage On My Own
                        @Html.CheckBoxFor(m => m.DecisionVM.SaleOwn)
                    </h3>

                    <button type="submit" value="Continue" class="btn btn-success" id="SaleOwnBtn">Continue </button>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------->
<form method="get">

    <br />
    <div style="height:150px; background-color:aliceblue " class="container">

        <div class="col-12">
            <div class="row" style="padding-top:10px;">
                <div class="col-2">
                    Name
                </div>
                <div class="col-3">
                    @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                    Category
                </div>
                <div class="col-3">
                    @Html.Editor("searchCategory", new { htmlAttributes = new { @class = "form-control" } })
                </div>

            </div>
            @*<div class="row" style="padding-top:10px;">
                    <div class="col-2">
                        Lower Price
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchPrice", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-2">
                        Higher Price
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchPrice2", new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                    </div>
                </div>*@
            <div class="row" style="padding-top:10px;">
                <div class="col-2">
                </div>
                <div class="col-3">
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>

            </div>
        </div>

    </div>

    <br />



    <!------------------------------------------------------->
    <!-- Modal -->
    <!--------------------------------------------------------------------------------------------------->
    <!--<div style="position:relative">
        <div style="position:relative;left:46%; top:10% ">
            <form method="get" asp-controller="Home" asp-action="Index" class="example">
                <input type="text" placeholder="Search.." value="@ViewData["searchString"]"
                       name="searchString" style="width:50% " ; />
                <button type="submit" value="Search" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </form>
        </div>-->
    <!---------------------------------------------------------------------------->
    <!--<br />-->
    <br />
    <div style="position:relative;top:10%">
        <div class="backgroundWhite container">

            <ul id="menu-filters" class="menu-filter-list  text-center list-inline">
                <li class="active btn btn-secondary ml-1 mr-1" style="display:inline" ; data-filter=".menu-restaurant">Show All</li>
                <br />
                <br />
                <h3> Workshop Services</h3>
                @foreach (var item in Model.ServiceTypes)
                {
                    <li class="ml-1 mr-1" style="display:inline;" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
}

                <br />
                <br />

                <h3 style="align-content:baseline"> Spare Parts</h3>
                @foreach (var item in Model.CategoryList)
                {
                    <li class="ml-1 mr-1" style="display:inline;" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
}
                <br />
                <br />

                <h3> Cars</h3>
                @foreach (var item in Model.Brands)
                {
                    <li class="ml-1 mr-1" style="display:inline;" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
}
            </ul>
            <br /><br />
            <div class="row" style="position:relative; top:10%;">
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-car-side"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@Model.TotalCars</span>
                            <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalCars)</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="fas fa-atom"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@Model.TotalServices</span>
                            <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalServices)</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@Model.TotalSpareParts</span>
                            <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalSpareParts)</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-users-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@Model.TotalUsers</span>
                            <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalUsers)</span>
                        </div>
                    </div>


                </div>

                <hr />
            </div>

            <br /><br />
            @foreach (var category in Model.ServiceTypes)
            {
                <div class="row" id="menu-wrapper">
                    <partial name="_ThumbnailAreaPartial" model="@Model.Services.Where(u=>u.ServiceType.Name.Equals(category.Name))" />
                </div>}
        </div>
    </div>

    <!--------------------------------------->


    <div style="position:relative;top:10%">
        <div class="backgroundWhite container">

            <ul id="menu-filters" class="menu-filter-list  text-center list-inline">
                <li class="active btn btn-secondary ml-1 mr-1" style="display:inline" ; data-filter=".menu-restaurant">Show All</li>

                @*@foreach (var item in Model.CategoryList)
                                    {
                        <li class="ml-1 mr-1" style="display:inline;" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
                    }*@
            </ul>


            @foreach (var category in Model.CategoryList)
            {
                <div class="row" id="menu-wrapper">
                    <partial name="_ThumbnailAreaPartialParts" model="@Model.AutoPartList.Where(u=>u.Category.Name.Equals(category.Name))" />
                </div>      }
        </div>
    </div>

    <!------------------------------------------------------------------->


    <div style="position:relative; top:10%;">
        @foreach (var brand in Model.Brands.OrderBy(o => o.Name))
        {
            @if (Model.Cars.Where(c => c.BranId == brand.Id).Count() > 0)
            {
                <div class="row container pb-3 backgroundWhite">
                    <div class="col-12">
                        <div class="row">
                            <h4 class="text-dark"><b>@brand.Name</b></h4>

                            <div class="col-12">
                                <div class="row my-3">
                                    @foreach (var part in Model.Cars.Where(c => c.BranId == brand.Id))
                                    {
                                        <div class="col-lg-4 col-xl-3 col-md-6 pb-4">
                                            <div class="card" style="border:2px solid black;border-radius:5px; background:url('/images/leaves.png')">
                                                <div class="pl-3 pt-1 text-center">
                                                    <h3 class="card-title text-dark"><b>@part.Trim.Name</b></h3>
                                                </div>
                                                <div class="d-flex justify-content-between ">
                                                    <div class="pl-1 text-muted">Price </div>
                                                    <div class="pr-1 text-danger h5">$@part.Price</div>
                                                </div>
                                                <img src="@part.MainImage" class="card-img-top p-2 rounded" />

                                                <div class="text-muted text-center pb-2">@part.Year.SolarYear</div>
                                                <div class="text-muted text-center pb-2">@part.RegistrationCity.Name</div>
                                                <div class="text-muted text-center pb-2">@part.ApplicationUser.Name</div>

                                                <a asp-action="DetailsCar" class="btn btn-dark" style="border-radius:2px;" asp-route-id="@part.Id">Details</a>
                                            </div>
                                        </div>}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}}
    </div>
</form>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>
        var posts = $('.post');
        (function ($) {
            $("#menu-filters li").click(function () {
                $("#menu-filters li").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');
                var selectedFilter = $(this).data("filter");
                $(".menu-restaurant").fadeOut();
                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });
        })(jQuery);
        var SaleUs = document.getElementById('DecisionVM_SaleUs');
        var SaleOwn = document.getElementById('DecisionVM_SaleOwn');
        document.getElementById("SaleOwnBtn").style.display = "none";
        document.getElementById("SaleUsBtn").style.display = "none";
        var SaleOwnBtn = document.getElementById("SaleOwnBtn");
        var SaleUsBtn = document.getElementById("SaleUsBtn");
        // when unchecked or checked, run the function
        //checker.onchange = function () {
        //    if (this.checked) {
        //        sendbtn.disabled = false;
        //    } else {
        //        sendbtn.disabled = true;
        //    }
        //}
        SaleOwn.onchange = function () {
            if (this.checked) {
                SaleUs.checked = false;
                SaleOwnBtn.style.display = "block";
                SaleUsBtn.style.display = "none";
            } else {
                SaleOwnBtn.style.display = "none";
            }
        }
        SaleUs.onchange = function () {
            if (this.checked) {
                SaleOwn.checked = false;
                SaleUsBtn.style.display = "block";
                SaleOwnBtn.style.display = "none";
            } else {
                SaleUsBtn.style.display = "none";
            }
        }
    </script>



}

</div>



@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }