@model IEnumerable<AutomotiveSols.BLL.Models.Payment>

@{
    ViewData["Title"] = "Request";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}


@if (ViewBag.isSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Approved</strong>
        <br />

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (ViewBag.isReject == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Approved</strong>
        <br />

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h1>Requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img height="300" width="300" src="@item.PaymentImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
                <td>
                    <a asp-action="Approve" asp-route-id="@item.Id">Approve</a> |
                    <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>
