@model IEnumerable<Services>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count() > 0)
{
<div class="col-12 post @Model.FirstOrDefault().ServiceType.Name.Replace(" ", string.Empty) menu-restaurant">
    <div class="row">
        <h3 class="text-success"> @Model.FirstOrDefault().ServiceType.Name </h3>
    
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-xl-3 col-md-6 pb-4">
            <div class="card" style="border:2px solid black;border-radius:5px; background:url('/images/leaves.png')">
                <div class="pl-3 pt-1 text-center">
                    <h3 class="card-title text-dark"><b>@item.Name</b></h3>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="pl-1 text-muted">Price </div>
                    <div class="pr-1 text-danger h5">$@item.Price</div>
                </div>
                <img src="@item.ImageUrl" class="card-img-top p-2 rounded" />

                <div class="text-muted text-center pb-2">@item.ServiceType.Name</div>
                <div class="text-muted text-center pb-2">@item.ApplicationUser.Name</div>

                <a asp-action="DetailsPart" class="btn btn-dark" style="border-radius:2px;" asp-route-id="@item.Id">Details</a>
            </div>
        </div>

    }
       
</div>
    </div>
}


