@model IEnumerable<AutomotiveSols.BLL.Models.PartGallery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoPart.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.URL)*@
                <img src="~/parts/gallery/@item.Name" height="80" width="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoPart.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                <a href="@Url.Action("Delete","PartGalleries",new { imgdel = item.Name})">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
